@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');





* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Passion One', Sans-serif;
    --font3: 'Sriracha', Arial, Sans-serif;
}

html body {
    min-height: 100vh;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
}

header h1 {
    font-family: var(--font1);
    text-align: center;
    padding-top: 50px;
    font-size: 3vw;
    font-variant: small-caps;
}

header>p {
    padding-top: 10px;
    padding-bottom: 50px;


}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-left: 5vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2em;
    font-family: var(--font3);
    
}

.normal {
    background-color: white;
    padding-bottom: 3em;
    color: black;
}

.normal p {
    padding-bottom: 2em;
}

.imagem {
    background-color: rgb(54, 54, 54);
    box-shadow: inset 6px 6px 13px black;
    color: white;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.728);
    padding: 10px;
    display: inline-block;
    min-width: 300px;

}
.imagem#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

.imagem#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}